<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Relic Metrics</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h2>New Relics Metrics <small>Generated on <%= Time.now.utc.strftime('%B %-d') %></small></h2>
      </div>
      <h3><%= "#{Time.now.strftime('%B %Y')} to-date" %></h3>
      <ul>
        <li>Uptime: <a href="https://discuss.newrelic.com/t/feature-idea-query-uptime-available-in-the-api/31065" target="_blank">NOT AVAILABLE IN API</a></li>
        <li>Requests: <%= "#{@new_relic.total_requests(0)}k (#{@new_relic.requests_per_minute(0)} requests per minute)" %></li>
        <li>Error rate: <%= "#{@new_relic.error_rate(0)}%" %></li>
        <li>Average response time: <%= "#{@new_relic.average_response_time(0)} milliseconds" %></li>
        <li>Request satisfaction (response in less than 0.5 seconds): <%= "#{@new_relic.request_satisfaction(0)}%" %></li>
      </ul>
      <h3><%= Time.now.prev_month.strftime('%B %Y') %></h3>
      <ul>
        <li>Uptime: <a href="https://discuss.newrelic.com/t/feature-idea-query-uptime-available-in-the-api/31065" target="_blank">NOT AVAILABLE IN API</a></li>
        <li>Requests: <%= "#{@new_relic.total_requests(1)}k (#{@new_relic.requests_per_minute(1)} requests per minute)" %></li>
        <li>Error rate: <%= "#{@new_relic.error_rate(1)}%" %></li>
        <li>Average response time: <%= "#{@new_relic.average_response_time(1)} milliseconds" %></li>
        <li>Request satisfaction (response in less than 0.5 seconds): <%= "#{@new_relic.request_satisfaction(1)}%" %></li>
      </ul>
      <h3><%= Time.now.prev_month.prev_month.strftime('%B %Y') %></h3>
      <ul>
        <li>Uptime: <a href="https://discuss.newrelic.com/t/feature-idea-query-uptime-available-in-the-api/31065" target="_blank">NOT AVAILABLE IN API</a></li>
        <li>Requests: <%= "#{@new_relic.total_requests(2)}k (#{@new_relic.requests_per_minute(2)} requests per minute)" %></li>
        <li>Error rate: <%= "#{@new_relic.error_rate(2)}%" %></li>
        <li>Average response time: <%= "#{@new_relic.average_response_time(2)} milliseconds" %></li>
        <li>Request satisfaction (response in less than 0.5 seconds): <%= "#{@new_relic.request_satisfaction(2)}%" %></li>
      </ul>
    </div>
  </body>
</html>
